SANITY_STUDIO_PROJECT_ID=70ccc43u
SANITY_STUDIO_DATASET=production

# Required for seed script only (create at sanity.io/manage → API → Tokens)
SANITY_API_TOKEN=ska0RKjd5IiM3yEf5SwkAK8rhpZSZYUUfJhIVISNZW0yO2aKoWLljYGTrIb61cR3dKeAnP0cf98NSSWyF1BdfDTQc6bq3hkDKo11xmESQgjCz2G8sk7aQnOBcf7aEh4Hw1cg2eE89PE68hwCN4WXAdcKUXiCjYMfFJvSs1MDbx0Doh8q8xeF
